anaconda-client==1.2.2
argcomplete==1.9.4
beautifulsoup4==4.5.3
certifi==2018.11.29
chardet==3.0.4
clyent==1.2.1
Django==2.1.5
docx2txt==0.6
EbookLib==0.17.1
idna==2.8
libmagic==1.0
lxml==4.3.0
numpy==1.15.4
Pillow==5.4.1
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
pycryptodome==3.7.2
PyPDF2==1.26.0
python-dateutil==2.7.5
python-magic==0.4.15
python-pptx==0.6.17
pytz==2018.9
PyYAML==3.13
requests==2.21.0
scikit-learn==0.20.2
scipy==1.2.0
six==1.10.0
sklearn==0.0
sortedcontainers==2.1.0
SpeechRecognition==3.8.1
urllib3==1.24.1
xlrd==1.2.0
XlsxWriter==1.1.2
